body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex; /* Make body a flex container */
  flex-direction: column; /* Stack items vertically */
  min-height: 100vh; /* Ensure body is at least the height of the viewport */
}

/* For Navbar */
.navbar {
  position: relative;
  display: flex;
  padding: 10px;
  background-color: #141214;
  justify-content: space-around;
  align-items: center;
  box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 15px -4px rgba(0, 0, 0, 0.75);
}

.nav-items > ul > li {
  position: relative;
  display: inline;
  list-style: none;
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-items > ul > li > a {
  color: white;
  text-decoration: none;
}

.nav-logo a,
.nav-button a {
  color: white;
  list-style: none;
  text-decoration: none;
  display: flex;
}

.nav-logo {
  font-size: 32px;
}

.nav-button {
  background-color: #c52726;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.nav-button:hover a {
  color: #ba6b6b;
}

.nav-button a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.container {
    display: flex;
    flex-direction: row; /* Ensure horizontal layout */
    flex: 1;
    margin: 0;
}

.editor {
  font-family: monospace;
  padding: 8px;
  line-height: 16px;
    flex: 1; /* Allow each editor to grow and fill vertical space */
    min-height: 0;
  resize: none !important;
}



#input {
  flex: 1.5;
  background-color: hsl(240, 6.25%, 9.375%);
}

#output {
  flex: 1;
  background-color: hsl(240, 6.25%, 12.5%);
}

.mathlive{
  flex: 1;
    min-height: 0;
  padding: 8px;

}

#help {
  font-family: sans-serif;
  background-color: hsl(240, 6.25%, 93.75%);
    flex: 1;
  padding: 8px;
}

h1, h2 {
  font-size: 1.2em;
  margin-top: 1em;
}

h1 {
  font-size: 1.4em;
}

code {
  border-radius: 4px;
}

.hljs-class {
  font-weight: bold;
}


.mobile-warning {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Change the background color as needed */
  z-index: 9999;
}

.mobile-warning h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}

.mobile-warning p {
  font-size: 16px;
  text-align: center;
}

/* Style for the chat container */
.chat-container {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
}

/* Style for the chat messages */
.message {
  margin-bottom: 10px;
}

/* Style for the user input field */
.input-field {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.chat-section {
  flex: 1;
    min-height: 0;
  padding: 10px;
  background-color: hsl(240, 6.25%, 93.75%); /* Example background color, adjust as needed */
  display: flex;
  flex-direction: column;
}

.chat-container {
  flex-grow: 1;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.input-field {
  width: calc(100% - 20px); /* Adjust width for padding */
  padding: 10px;
  margin: 0; /* Remove default margin */
}